<html>
    <div class="popPOI">
        <h2 align="center">Recommended for you</h2>
        <div class="popgallery">
            <a target="_blank" ng-click="openPOI(1)">
                <img ng-src="{{src1}}" alt="" width="400px" height="300px">
            <div class="desc">{{ poi1 }}</div>
            </a>
        </div>

        <div class="popgallery">
            <a target="_blank" ng-click="openPOI(2)">
                <img ng-src="{{src2}}" alt="" width="400px" height="300px">
            <div class="desc">{{ poi2 }}</div>
            </a>
        </div>
    </div>

    <div class="favPOI">
        <h2 align="center">Favorite points of interest</h2>
        <div class="popgallery" ng-hide="hidePOI1()">
            <a target="_blank" ng-click="openPOI(3)">
                <img ng-src="{{src3}}" alt="" width="400px" height="300px">
            <div class="desc">{{ poi3 }}</div>
            </a>
        </div>

        <div class="popgallery" ng-hide="hidePOI2()">
            <a target="_blank" ng-click="openPOI(4)">
                <img ng-src="{{src4}}" alt="" width="400px" height="300px">
            <div class="desc">{{ poi4 }}</div>
            </a>
        </div>

        <div ng-hide="hideText()" class="text">
            You have no saved POIs
        </div>
    </div>

    <div id="POI">
        <div class="modal-content">
            <span class="close" ng-click="closeModal()">&times;</span>
            <h2>{{POIName}}</h2>
            <p>Views: {{numOfViews}}</p>
            <p>Description: {{descr}}</p>
            <p>Rank: {{rank}}/5</p>
            <p>Reviews:</p>
            <p>{{rev1}}, Date: {{date1}}</p>
            <p>{{rev2}}, Date: {{date2}}</p>
        </div>
    </div>
</html>