<html>
    <div class="popPOI">
        <h2 align="center">popular point of interest</h2>
        <div class="popgallery">
            <a target="_blank" ng-click="openPOI(1)">
                <img ng-src="{{src1}}" alt="" width="400px" height="300px">
            <div class="desc">{{ poi1 }}</div>
            </a>
        </div>

        <div class="popgallery">
            <a target="_blank" ng-click="openPOI(2)">
                <img ng-src="{{src2}}" alt="" width="400px" height="300px">
            <div class="desc">{{ poi2 }}</div>
            </a>
        </div>
    </div>

    <div class="favPOI">
        <h2 align="center">Favotire point of interest</h2>
        <div class="popgallery" ng-hide="hidePOI1()">
            <a target="_blank" ng-click="openPOI(3)">
                <img ng-src="{{src3}}" alt="" width="400px" height="300px">
            <div class="desc">{{ poi3 }}</div>
            </a>
        </div>

        <div class="popgallery" ng-hide="hidePOI2()">
            <a target="_blank" ng-click="openPOI(4)">
                <img ng-src="{{src4}}" alt="" width="400px" height="300px">
            <div class="desc">{{ poi4 }}</div>
            </a>
        </div>

        <div ng-hide="hideText()" class="text">
            you have no favorite POI
        </div>
    </div>

    <div id="POI">
        <div class="modal-content" >
            <span class="close" ng-click="closeModal()">&times;</span>
            <h2>{{POIName}}</h2>
            <p>views: {{numOfViews}}</p>
            <p>description: {{descr}}</p>
            <p>rank: {{rank}}/5</p>
            <p>reviews</p>
            <p>{{rev1}}, {{date1}}</p>
            <p> {{rev2}}, {{date2}}</p>
        </div>
    </div>
</html>