<!DOCTYPE html>
<html>
    <body>
        <div> 
            <form name="loginForm" ng-submit="submit()" novalidate>
                <div class="form-group" >
                    <p><label>User Name:</label></p>
                    <input type="text" name="uname" ng-model="uname" required>
                    <span ng-show="!loginForm.uname.$pristine && loginForm.uname.$error.required">This is required! </span>
                    <span ng-show="!loginForm.uname.$pristine && loginForm.uname.$invalid">Invalid field</span><br><br>
                </div>
                <div class="form-group" >
                    <p><label>Password:</label></p>
                    <input type="password" name="pass" ng-model="pass" required>
                    <span ng-show="!loginForm.pass.$pristine && loginForm.pass.$error.required">This is required! </span>
                    <span ng-show="!loginForm.pass.$pristine && loginForm.pass.$invalid">Invalid field</span><br><br>
                </div>

                <input ng-disabled="loginForm.$pristine || loginForm.$invalid" type="submit" id="submit" value="Submit" ><br>
                <div class="teamR">
                    New? <a id="crtacnt" href="#!register">Create an account</a>
                </div>
                <div class="teamR">
                    <a id="rtvpass" href="#!retrieve">Forgot Password?</a>
                </div>
            </form>
        </div>
    </body>
</html>