<!DOCTYPE html>
<html>
    <form name="sortForm" ng-submit="submitSort()" novalidate >
        <div class="order">
            <label>sort by:</label>
            <select name="sort" ng-model="sort" ng-options = "item for item in sorts" required>
            </select>
            <input ng-disabled="sortForm.$pristine || sortForm.$invalid" type="submit" id="submit" value="Sort" ><br><br>
        </div>
    </form>

    <form name="searchForm" ng-submit="submitsearch()" novalidate >
        <div class="order">
            <label>search:</label>
            <input type="text" name="search" ng-model="search" required>
            </select>
            <input ng-disabled="searchForm.$pristine || searchForm.$invalid" type="submit" id="submit" value="Search" ><br><br>
        </div>
    </form>

    <form name="filterForm" ng-submit="submit()" novalidate >
        <div class="order">
            <label>filter by:</label>
            <select name="category" ng-model="category" ng-options = "item for item in categories" required>
            </select>
            <input ng-disabled="filterForm.$pristine || filterForm.$invalid" type="submit" id="submit" value="Filter" ><br><br>
        </div>
    </form>

    <div ng-model="POIs" ng-repeat="POI in POIs" class="POIs">
        <img src="star.png" ng-hide="isguest(POI.ID)" ng-click="addfav(POI.ID)" width="30px" height="30px" id="icon">
        <img src="favorite.png" ng-hide="isfav(POI.ID)" ng-click="removefav(POI.ID)" width="30px" height="30px" id="icon">
        <div class="gallery">
            <a target="_blank" ng-click="openPOI(POI.ID, POI.Name)">
                <img ng-src="{{POI.Picture}}" alt="" width="400px" height="300px">
            <div class="desc">{{POI.Name}}</div>
            </a>
            <button ng-click="openReview(POI.ID, POI.Name)">Write review</button>
        </div>
    </div>

    <div ng-hide="hideText()" class="text">
        POI is not found
    </div>

    <div id="POI">
        <div class="modal-content" >
            <span class="close" ng-click="closeModal()">&times;</span>
            <img src="star.png" ng-hide="isguest(-1)" ng-click="addfav(-1)" width="30px" height="30px" id="icon">
            <img src="favorite.png" ng-hide="isfav(-1)" ng-click="removefav(-1)" width="30px" height="30px" id="icon">
            <h2>{{POIName}}</h2>

            <p>views: {{numOfViews}}</p>
            <p>description: {{descr}}</p>
            <p>rank: {{rank}}/5</p>
            <p>reviews</p>
            <p>{{rev1}} {{date1}}</p>
            <p> {{rev2}} {{date2}}</p>
        </div>
    </div>

    <div id="review">
        <div class="modal-content" >
            <span class="close" ng-click="closeModal()">&times;</span>
            <h2>{{POIName}}</h2>
            <form name="reviewForm" ng-submit="submitReview()" novalidate >
                <div class="order">
                    <label>rank:</label>
                    <select name="rank" ng-model="rank" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    </br>
                    </br>
                    <label>review:</label>
                    <textarea name="revText" ng-model="revText"></textarea>
                    </br>
                    </br>
                    <input ng-disabled="reviewForm.$pristine || reviewForm.$invalid" type="submit" id="submit" value="save" ><br><br>
                </div>
            </form>
        </div>
    </div>
</html>