<!DOCTYPE html>
<html>
    <body>
        <div> 
            <form name="registerForm" ng-submit="submit()" novalidate >
                <div class="form-group" >
                    <p><label>First Name:</label></p>
                    <input type="text" name="fname" ng-model="fname" required ng-pattern = "/^[a-zA-Z\s]*$/">
                    <span ng-show="!registerForm.fname.$pristine && registerForm.fname.$error.required">This is required! </span>
                    <span ng-show="!registerForm.fname.$pristine && registerForm.fname.$invalid">Invalid field</span><br><br>
                </div>

                <div class="form-group" >
                    <p><label>Last Name:</label></p>
                    <input type="text" name="lname" ng-model="lname" required ng-pattern = "/^[a-zA-Z\s]*$/">
                    <span ng-show="!registerForm.lname.$pristine && registerForm.lname.$error.required">This is required! </span>
                    <span ng-show="!registerForm.lname.$pristine && registerForm.lname.$invalid">Invalid field</span><br><br>
                </div>

                <div class="form-group" >
                    <p><label>City:</label></p>
                    <input type="text" name="city" ng-model="city" required ng-pattern = "/^[a-zA-Z\s]*$/">
                    <span ng-show="!registerForm.city.$pristine && registerForm.city.$error.required">This is required! </span>
                    <span ng-show="!registerForm.city.$pristine && registerForm.city.$invalid">Invalid field</span><br><br>
                </div>
                
                <div class="form-group" >
                    <p><label>Country:</label></p>
                    <select name="country" ng-model="country" ng-options = "item for item in countries" required>
                    </select>
                    <span ng-show="!registerForm.country.$pristine && registerForm.country.$error.required">This is required! </span>
                    <span ng-show="!registerForm.country.$pristine && registerForm.country.$invalid">Invalid field</span><br><br>
                </div>
                <br><br>
                <div class="form-group" >
                    <p><label>Email:</label></p>
                    <input type="email" name="email" ng-model="email" required >
                    <span ng-show="!registerForm.email.$pristine && registerForm.email.$error.required">This is required! </span>
                    <span ng-show="!registerForm.email.$pristine && registerForm.email.$invalid">Invalid field</span><br><br>
                </div>

                <div class="form-group" >
                    <p><label>Categories:</label></p>
                    <select multiple ng-multiple="true" name="cat" ng-model="cat" required>
                        <option ng-repeat="x in categories" value="{{x}}">{{x}}</option>
                    </select>
                    <span ng-show="!registerForm.cat.$pristine && registerForm.cat.$error.required">This is required! </span>
                    <span ng-show="!registerForm.cat.$pristine && registerForm.cat.$invalid">Invalid field</span><br><br>
                </div>

                <div class="form-group" >
                    <p><label>Name of your first pet:</label></p>
                    <input type="text" name="A1" ng-model="A1" required >
                    <span ng-show="!registerForm.A1.$pristine && registerForm.A1.$error.required">This is required! </span>
                    <span ng-show="!registerForm.A1.$pristine && registerForm.A1.$invalid">Invalid field</span><br><br>
                </div>

                <div class="form-group" >
                    <p><label>Favorite movie:</label></p>
                    <input type="text" name="A2" ng-model="A2" required >
                    <span ng-show="!registerForm.A2.$pristine && registerForm.A2.$error.required">This is required! </span>
                    <span ng-show="!registerForm.A2.$pristine && registerForm.A2.$invalid">Invalid field</span><br><br>
                </div>

                <input ng-disabled="registerForm.$pristine || registerForm.$invalid" type="submit" id="submit" value="Submit" ><br><br>
            </form>
        </div>
    </body>

</html>